<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h1>Welcome to <%= title %> Page</h1>

  </div>

  
  <h2>My name is Hyeontak Ko</h2>

  <!-- An image of you -->
  <!-- Replace 'img/your-image.jpg' with the actual path to your image -->
  <img src="/img/myimage.png" alt="My photo">

  <!-- A short paragraph about who you are -->
  <p>Hello! I'm Hyeontak Ko, a passionate individual with interests in Computer Developping.
    I aim to bring my dedication and hard work into everything I do. 
    Feel free to explore my website to learn more about me.</p>

    <a href="/img/resume.pdf">Resume</a
  
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
