<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<!--<img src="img/logo.png" alt="logo">-->

<main class="container">
  <div class="jumbotron">
    <h1>Welcome to my <%= title %> Page</h1>
    <p>This is the Home page</p>
  </div>

  <!-- Mission Statement -->
  <section id="mission-statement">
    <h2>Mission Statement</h2>
    <p>My mission is to share knowledge, inspire others, and create an environment where everyone feels valued and heard. I believe in the power of education and the importance of personal growth.</p>
  </section>

  <!-- Links or buttons for navigation -->
  <!-- Replace # with the actual URLs of your pages -->

  <!-- This is a link styled as a button using Bootstrap classes -->
  
   <a href="http://localhost:3000/about" class="btn btn-primary">About Me</a> 
   <a href="http://localhost:3000/contact" class="btn btn-primary">Contact Me</a> 
   <a href="http://localhost:3000/products" class="btn btn-primary">Projects Page</a> 
   <a href="http://localhost:3000/services" class="btn btn-primary">Services Page</a> 

   <!-- This could be any other page on your site -->

   <!--<a href="/otherpage" class="btn btn-secondary">Other Page</a>-->
   
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>



   